@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;500;700&display=swap");
@tailwind base;

@tailwind components;
@tailwind utilities;

html {
  font-family: "Red Rose", cursive;
}
body {
  box-sizing: border-box;
}
@layer base {
  h1 {
    @apply text-[35px] lg:text-[25px];
  }
  p {
    @apply text-[16px] lg:text-[18px];
  }
}
.noslider::-webkit-scrollbar {
  display: none;
}
